<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="_fragments :: head(~{::title})">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>博客管理</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" />
<link rel="stylesheet" href="../../static/css/me.css" />
</head>

<body class = "m-body">

	<!--
        	导航
        	inverted反转色，segment片段 attached依附（使这个组件没有圆角,并且依附的意思,不过好像依附的话，需要两个都有attached）
        	teal 青色 secondary 灰色的作用
        	container 响应式的 并且不会占满自己理会
        -->
	<nav th:replace="admin/_fragments :: menu(1)"
		class="ui inverted attached segment m-padded-tb-mini m-shadow-small">

		<div class="ui container">
			<!--stackable代表可堆叠的，用于手机端的显示-->
			<div class="ui inverted secondary stackable menu">
				<h2 class="ui teal header item">管理后台</h2>
				<a href="#" class="active m-item item m-mobile-hide"><i
					class="mini home icon"></i>博客</a> <a href="#"
					class="m-item item m-mobile-hide"><i class="mini idea icon"></i>分类</a>
				<a href="#" class="m-item item m-mobile-hide"><i
					class="mini tags icon"></i>标签</a>

				<div class="m-item right menu m-mobile-hide">
					<!--下拉-->
					<div class="ui dropdown item">
						<div class="text">
							<img src="https://unsplash.it/100/100?image=1005" alt=""
								class="ui avatar image" /> LSY
						</div>
						<i class="dropdown icon"></i>
						<div class="menu">
							<a href="#" class="item">注销</a>
						</div>

					</div>
				</div>

			</div>
		</div>

		<a href="#" id="menu_show"
			class="ui black icon button m-right-top m-mobile-show"> <i
			class="sidebar icon"></i>
		</a>

	</nav>

	<!--二级导航-->
	<!--这里的pointing指在选中后会出现一个尖角-->
	<div class="ui attached pointing menu">
		<div class="ui container">
			<div class="right menu">
				<a href="#" th:href="@{/admin/blogs/input}" class="item">发布</a> <a
					href="#" th:href="@{/admin/blogs}" class="teal active item">列表</a>
			</div>

		</div>

	</div>

	<!--
			中间内容	
		-->
	<div class="m-container-small m-padded-tb-big main">
		<div class="ui container">
			<div class="ui segment form">
			
				<input type="hidden" name="page" />
				
				<div class="inline fields">
					<div class="field">
						<input type="text" name="title" placeholder="标题" />
					</div>
					<div class="field">
						<div class="ui labeled action input">
						<div class="ui type selection dropdown">
							<!-- 这里 typeId可以自动将选中的 data-value="1"存储...semantic里面已经实现了的功能-->
							<input type="hidden" name="typeId" /> 
							<i class="dropdown icon"></i>
							<div class="default text">分类</div>
							<div class="menu">
								<!-- 这里data-value是自定义的属性
								自定义属性前缀 "data-" 会被客户端忽略 -->
								<div class="item" th:each="type : ${types}" data-value="1"
									th:data-value="${type.id}" th:text="${type.typeName}">错误日志</div>

							</div>
						</div>
							<button id="clear-btn" class="ui compact button">clear</button>
					</div>
					</div>
					<div class="field">
						<div class="ui checkbox">
							<input type="checkbox" id="isRecommend" name="isRecommend" /> 
							<label for="isRecommend">推荐</label>
						</div>
					</div>
					<div class="field">
						<button type="button" id="search-btn" class="ui mini teal basic button"><i class="search icon"></i>搜索</button>
					</div>
				</div>
			</div>

			<div id="table-container">
				<!--celled 加网格线，可考虑是否加
					compact 让表格紧缩
				-->
				<!-- 
				th:fragment="blogList"是控制器之间替换的位置
				 -->
				<table th:fragment="blogList" class="ui compact teal table">
					<thead>
						<tr>
							<th></th>
							<th>标题</th>
							<th>类型</th>
							<th>推荐</th>
							<th>状态</th>
							<th>更新时间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="blog,iterStat : ${page.content}">
							<td th:text="${iterStat.count}">1</td>
							<td th:text="${blog.title}">刻意练习清单</td>
							<td th:text="${blog.type.typeName}">认知升级</td>
							<td th:text="${blog.isRecommend} ? '是':'否'">是</td>
							<td th:text="${blog.isPublished} ? '发布':'草稿'">草稿</td>
							<td th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd HH:mm')}">2017-10-02 09:45</td>
							<td><a href="#"
								th:href="@{/admin/blogs/{id}/input(id=${blog.id})}"
								class="ui mini teal basic button">编辑</a> <a href="#"
								th:href="@{/admin/blogs/{id}/delete(id=${blog.id})}"
								class="ui mini red basic button">删除</a></td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<th colspan="7">
								<!--如果要到右边，则加 right floated-->
								<div class="ui mini pagination menu"
									th:if="${page.totalPages}>1">
									<!--  其中data-page这个就是自定义的属性,你可以定义成任何你想要的格式比如data-ceshi,
								然后在js文件中使用jquery的$(this).data('ceshi')获取到
								
								然后这里前面加th:attr=的原因是${page.number}-1这个值是thymeleaf中的，必须加这个data-page才能获取到数据-->
									<a onclick="page(this)" th:attr="data-page=${page.page}-1"
										class=" item" th:unless="${page.first}">上一页</a> <a
										onclick="page(this)" th:attr="data-page=${page.page}+1"
										class=" item" th:unless="${page.last}">下一页</a>
								</div> 
								<a href="#" th:href="@{/admin/blogs/input}"
								class="ui right floated mini teal basic button">新增</a>
							</th>
						</tr>
					</tfoot>

				</table>

				<div class="ui success message"
					th:unless="${#strings.isEmpty(message)}">
					<i class="close icon"></i>
					<div class="header">提示：</div>
					<p th:text="${message}">恭喜，操作成功！</p>
				</div>




			</div>

		</div>
	</div>

	<!--
			底部footer
			这个会弄栅格，不过和bootstrap不同的是不是分12格，而是16格
			
			wide代表填满 column代表列
			divided代表分割线
			center aligned 放在容器属性的话，即这个容器中字体居中
		-->
	<footer th:replace="admin/_fragments :: footer"
		class="ui inverted attached segment m-padded-tb-massive">
		<div class="ui center aligned container">
			<div class="ui inverted divided stackable grid">
				<div class="three wide column">
					<div class="ui inverted link list">
						<div class="item">
							<img src="../../static/img/dragonCat2.gif"
								class="ui rounded image" alt="" style="width: 110px">
						</div>
					</div>
				</div>
				<div class="three wide column">
					<h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
					<div class="ui inverted link list">
						<a href="#" class="item">用户故事 (User Story) </a> <a href="#"
							class="item">用户故事 (User Story) </a> <a href="#" class="item">用户故事
							(User Story) </a>
					</div>
				</div>
				<div class="three wide column">
					<h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
					<div class="ui inverted link list">
						<a href="#" class="item m-text-thin">Email：lirenmi@163.com</a> <a
							href="#" class="item m-text-thin">QQ：865729312</a>
					</div>
				</div>
				<div class="seven wide column">
					<h4 class="ui inverted header m-text-thin m-text-spaced">Blog</h4>
					<p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
				</div>

			</div>

			<!--section好像是与上面的div有一个距离-->
			<div class="ui inverted section divider"></div>
			<p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright ©
				2020-2100 LSY Designed by Her Lover</p>

		</div>

	</footer>

	
	<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
	<script type="text/javascript"
		src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>
	<!--/*/</th:block>/*/-->

	<script>
		//消息提示关闭初始化
		$('.message .close').on('click', function() {
			$(this).closest('.message').transition('fade');
		});
		
		// 消除type框已经选择的
		$('#clear-btn').on('click', function() {
        	$('.ui.type.dropdown') .dropdown('clear');
	     });
		$("#menu_show").click(function() {
			//	当m-mobile-hide属性存在时,点击后消除,不存在时,点击后加入这个属性
			$(".m-item").toggleClass("m-mobile-hide");
		});

		// 默认是点击，可以自定义
		$(".ui.dropdown").dropdown();

		// 上一页下一页
		function page(obj) {
			$("[name='page']").val($(obj).data("page"));
			loadata();
		}

		// 刷新局部
		function loadata() {
			// load() 方法通过 AJAX 请求从服务器加载数据，并把返回的数据放置到指定的元素中。
			// 就不用再写啥子.html填充数据到页面了

			// 还有疑问的是typeId获取到了，但是怎么获取到的？semantic特殊的方法？通过选择项中的data-value去获取，好像是semantic封装好的，，
			// 还有这里的ajax传的属性不用加“”？
			$("#table-container").load(
			/*[[@{/admin/blogs/search}]]*/"/admin/blogs/search", {
				title : $("[name='title']").val(),
				typeId : $("[name='typeId']").val(),
				isRecommend : $("[name='isRecommend']").prop('checked'),
				page : $("[name='page']").val()
			}

			);
		}

		$("#search-btn").click(function() {
			loadata();
		});
	</script>

</body>

</html>