<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- namespace和dao的接口对应 -->
<!--  如果是多参数那么就不能使用parameterTag， 
	改用#｛index｝是第几个就用第几个的索引，索引从0开始
	好像这个不行？ 直接不写parameterTag，直接传值即可
	
	insert：   插入n条记录，返回影响行数n。（n>=1，n为0时实际为插入失败）

update：更新n条记录，返回影响行数n。（n>=0）

delete： 删除n条记录，返回影响行数n。（n>=0）
	-->
	
<!--
    注意：这个insert/update/delete标签只是一个模板，在做操作时，其实是以SQL语句为核心的
        即在做增/删/时，insert/update/delete标签可通用 ，但做查询时只能用select标签，我们提倡什么操作就用什么标签
 -->
<mapper namespace = "com.yuer.dao.ITagDao">
	
	
	<!-- 总结一下，除了查用select ,其他操作尽量不用select可能会没有返回值
		然后插入时不用插入id的前提时数据库中这个id这个字段设置了自动递增
	 -->
	<insert id ="saveTag"  parameterType="Tag">
		insert into hi_tag(tag_name) values(#{tagName})
	</insert>
	
	<select id ="deleteTag"  parameterType="Long">
		<!--  
		还有使用了别名就不能使用原名了
		可以通过空格或者as给表起别名但是注意如果操作的数据库是Oracle的话，只能使用空格，as不符合Oracle的语法。-->
		<!-- 报错原因记录一下都得记录在博客上得：
			原因：mysql不支持平常得别名写法，其他数据库可能支持如Oracle
			加一点东西就可以解决报错
			delete t from hi_tag t where t.id = #{id}
			有几个别名写几个
		 -->
		<!--  delete from hi_tag t where t.id = #{id} 这个报错-->
		delete from hi_tag  where id = #{id}
	</select>

	
	<!-- mybatis中如果是select标签中使用update语句不会有返回值，，，所以得改为update -->
	<update id ="updateTag">
		update hi_tag t set t.tag_name = #{tagName} where t.id = #{id}
	</update>
	
	<select id ="getTagById" resultMap="TagMap" parameterType="Long">
		select id,tag_name from hi_tag t where t.id = #{id}
	</select>
	
	
	<!--  
		resultTag:

1、基本类型  ：resultTag=基本类型

2、List类型：   resultTag=List中元素的类型

3、Map类型     resultTag =map
	
	-->
	<select id ="listTag" resultMap="TagMap">
		select id,tag_name from hi_tag
	</select>
	
	<!-- mysql没有提供top,但是好像可以使用limit实现
		// 这里根据啥博客数量排序好像得复杂点
		// 子查询
	 -->
	<select id ="listTagTop" resultMap="TagMap" parameterType="Integer">
		select id,tag_name from hi_tag t order by (select count(*) from hi_blog_tags where tags_id =  t.id ) desc limit #{size} 
	</select>
	
	<select id="listBlogNum" resultType="Integer" parameterType="Long">
		select count(*) from hi_blog_tags where tags_id = #{id}
	</select>
	
	
	
	
	<!-- 这里返回值可能注入错误，需要进行Map映射 -->
	<select id ="listTagByParam" resultMap="TagMap" parameterType="Integer">
		select id,tag_name from hi_tag order by id limit #{start}, #{size}
	</select>
	
	<resultMap type="Tag" id="TagMap">
		<result property="id" column="id"/>
		<result property="tagName" column="tag_name"/>
		
	</resultMap>
	
	
	<select id = "getTotal" resultType="Integer">
		select count(*) from hi_tag
	</select>
	
	<select id = "getTagByTagName" resultMap="TagMap"  parameterType="String">
		select * from hi_tag t where t.tag_name = #{tagName}
	</select>
	
	<select id ="listTagByBlogId" resultMap="TagMap" parameterType="Long">
		select id,tag_name from hi_tag where id in (select tags_id from hi_blog_tags where blogs_id = #{id})
	</select>
	

	




</mapper>

