<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

	<head th:replace="_fragments :: head(~{::title})">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>关于我</title>
		<!--这个css好像不行，使用cdn形式的把-->
		<!--<link rel="stylesheet" href="css/semantic.min.css" />-->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" />
		<link rel="stylesheet" href="../static/css/me.css" />
	</head>

	<body class = "m-body">

		<!--
        	导航
        	inverted反转色，segment片段 attached依附（使这个组件没有圆角,并且依附的意思,不过好像依附的话，需要两个都有attached）
        	teal 青色 secondary 灰色的作用
        	container 响应式的 并且不会占满自己理会
        -->
		<nav th:replace="_fragments :: menu(5)"  class="ui inverted attached segment m-padded-tb-mini m-shadow-small">

			<div class="ui container">
				<!--stackable代表可堆叠的，用于手机端的显示-->
				<div class="ui inverted secondary stackable menu">
					<h2 class="ui teal header item">Blog</h2>
					<a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"></i>首页</a>
					<a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>分类</a>
					<a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>标签</a>
					<a href="#" class="m-item item m-mobile-hide"><i class="mini clone icon"></i>归档</a>
					<a href="#" class="m-item item m-mobile-hide"><i class="mini info icon"></i>关于我</a>

					<div class="m-item right item m-mobile-hide">
						<!--
                        	外层加入icon的意思是这个icon是放在这个容器里的
                        	
                        	transparent透明的意思
                        	link 代表这个组件当鼠标在上面时会变成手状
                        -->
						<div class="ui icon inverted transparent input">
							<input type="text" placeholder="Search..." />
							<i class="search link icon"></i>
						</div>

					</div>

				</div>
			</div>

			<a href="#" id="menu_show" class="ui black icon button m-right-top m-mobile-show">
				<i class="sidebar icon"></i>
			</a>

		</nav>

		<!--
			中间内容	
			m-container自定义的，使宽度大一点
		-->
		<div class="m-container m-padded-tb-big main">
			<div class="ui container">
				<div class="ui stackable grid">

					<div class="eleven wide column">
						<div class="ui segment">
							<img src="https://unsplash.it/800/600?image=1015" alt="" class="ui rounded image" />
						</div>
						
					</div>

					<div class="five wide column">
						<div class="ui top attached segment">
							<div class="ui header">关于我</div>

						</div>
						<div class="ui attached segment">
							<p class="m-text">LSY,一个大三在读菜鸡，大佬们请多多指教...</p>
						</div>
						<div class="ui attached segment">
							<div class="ui orange basic left pointing label">编程</div>
							<div class="ui orange basic left pointing label">思考</div>
							<div class="ui orange basic left pointing label">写作</div>
							<div class="ui orange basic left pointing label">运动</div>
						</div>
						<div class="ui attached segment">
							<div class="ui teal basic left pointing label m-margin-tb-tiny">Java</div>
							<div class="ui teal basic left pointing label m-margin-tb-tiny">JavaScript</div>
							<div class="ui teal basic left pointing label m-margin-tb-tiny">Mysql</div>
							<div class="ui teal basic left pointing label m-margin-tb-tiny">SSM</div>
							<div class="ui teal basic left pointing label m-margin-tb-tiny">...</div>
						</div>
						<div class="ui bottom attached segment">
							<a href="#" class="ui circular icon button"><i class="github icon"></i></a>
							<a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
							<a href="#" class="ui qq circular icon button" data-content="2350671918" data-position="bottom center"><i class="qq icon"></i></a>
						</div>

						<div class="wechat-qr ui flowing popup transition hidden">
							<img src="img/wechat.jpg" alt="" class="ui rounded image" style="width: 100px;"/>
						</div>

					</div>

				</div>

			</div>
		</div>

		<!--
			底部footer
			这个会弄栅格，不过和bootstrap不同的是不是分12格，而是16格
			
			wide代表填满 column代表列
			divided代表分割线
			center aligned 放在容器属性的话，即这个容器中字体居中
		-->
		<footer th:replace="_fragments :: footer" class="ui inverted attached segment m-padded-tb-massive">
			<div class="ui center aligned container">
				<div class="ui inverted divided stackable grid">
					<div class="three wide column">
						<div class="ui inverted link list">
							<div class="item">
								<img src="../static/img/dragonCat2.gif" class="ui rounded image" alt="" style="width:110px">
							</div>
						</div>
					</div>
					<div class="three wide column">
						<h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">用户故事 (User Story) </a>
							<a href="#" class="item">用户故事 (User Story) </a>
							<a href="#" class="item">用户故事 (User Story) </a>
						</div>
					</div>
					<div class="three wide column">
						<h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
						<div class="ui inverted link list">
							<a href="#" class="item m-text-thin">Email：lirenmi@163.com</a>
							<a href="#" class="item m-text-thin">QQ：865729312</a>
						</div>
					</div>
					<div class="seven wide column">
						<h4 class="ui inverted header m-text-thin m-text-spaced">Blog</h4>
						<p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
					</div>

				</div>

				<!--section好像是与上面的div有一个距离-->
				<div class="ui inverted section divider"></div>
				<p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2020-2100 LSY Designed by Her Lover</p>

			</div>

		</footer>

		<!--<script src="js/semantic.min.js"></script>-->
		<!--/*/<th:block th:replace="_fragments :: script">/*/-->
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
		<script type="text/javascript" src="https://cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>
		<!--/*/</th:block>/*/-->

		<script>
			$("#menu_show").click(function() {
				//				当m-mobile-hide属性存在时,点击后消除,不存在时,点击后加入这个属性
				$(".m-item").toggleClass("m-mobile-hide");
			});
			
			$(".wechat").popup({
				popup: $(".wechat-qr"),
				position: 'bottom center'
			});

			$(".qq").popup();
		</script>

	</body>

</html>